.ebMarkdownContainer {
  font-size: 0.9rem;
  line-height: 1.6;
}

.ebMarkdownContainer h1,
.ebMarkdownContainer h2,
.ebMarkdownContainer h3,
.ebMarkdownContainer h4,
.ebMarkdownContainer h5,
.ebMarkdownContainer h6 {
  font-size: 1.2em;
}

.ebMarkdownContainer pre,
.ebMarkdownContainer code {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  max-width: 100%;
  background-color: lightgray;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 0.8rem;
}

.ebMarkdownContainer table {
  display: block;
  overflow-x: auto;
  max-width: 100%;
}

.ebMarkdownContainer th,
.ebMarkdownContainer td {
  white-space: pre-line;
  word-break: break-word;
}
